# Зависимости
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Сборка
dist/
build/

# Переменные окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Логи
logs/
*.log

# Временные файлы
.tmp/
.temp/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
